*{box-sizing: border-box; } 
.maincontainer{
    width: 800px;
    background-color: aliceblue;
    margin: 5em auto;
padding: 2em;

}

.apptitle{text-align: center;}
.dolistform{margin-top: 2em;}
.formgroup{margin-top: 2em;}


.todo_text{
    padding: 0.5em;
    border-radius: 5px; 
    border: solid gray 1px; 
    width: 400px;
}

.btnadd, .btn_deleteeach, .btn_deleteall{
    background-color: crimson; 
    border: none; 
    padding: 0.5em; 
    border-radius: 5px;
    color: whitesmoke;
}

.btnadd{background-color: olive;}
.btn_deleteall, .btn_deleteeach{
    background-color: crimson;
    }

    .btnadd:hover{background-color: olive;}
.btn_deleteall:hover, .btn_deleteeach:hover{
    background-color: crimson;
    }

.btnadd:hover{
    background-color: crimson;
    cursor: pointer;
}


